@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(135deg, #3a7bd5 0%, #CFDEF3 100%);
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#globe-container {
  width: 100%;
  height: 100%;
}