body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#globe-container {
  flex-grow: 1;
  width: 100%;
}